body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ACC2D6;
}

.container {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 600px;
}

#header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: #6A96D7;
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-name {
  font-size: 1.5rem;
  margin: 0 0 0 15px;
  font-weight: 600;
}

#bullet {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 5px;
}

#close {
  font-size: 1.2rem;
}

#close:hover {
  cursor: pointer;
}

#content {
  position: relative;
  top: 20%;
  height: 80%;
}

.time-stamp h5 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #ccc; 
  line-height: .1em;
  margin: 10px 0 20px; 
}

.time-stamp span {
  background:#fff; 
  padding:0 10px;
  color: #ccc;
  font-size: 1rem;
}

.row {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row-left {
  float: left;
  padding: 0 20px;
  max-width: 70%;
}

.row-right {
  width: 70%;
  float: right;
  text-align: right;
  max-width: 70%;
}

.time {
  font-size: 1rem;
  color: #ccc;
}

.p-left {
  background-color: #ACC2D6;
  padding: 10px 10px;
  border-radius: 5px;
}

.p-right {
  background-color: #ccc;
  padding: 10px 10px;
  border-radius: 5px;
}

.p-blocked {
  background-color: salmon;
  padding: 10px 10px;
  border-radius: 5px;
}

.user-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid #ccc;
}

.user-input form {
  display: flex;
  align-items: center;
  padding: 0;
}

.user-input form input {
  border: none;
}

.user-input input {
  width: 80%;
  /* float: left; */
} 

.user-input button {
  /* float: right; */
  font-weight: 600;
  color: #6A96D7;
}